#time-container {
    width: 600px;
    margin: 150px auto 0 auto;
    padding: 30px;
    text-align: center;
    background-color: #222222;
    border: 3px solid;
    border-radius: 25px;
}

#time-display {
    margin-bottom: 20px;
    font-family: consolas, monospace;
    font-size: 75px;
    color: #40c437;
}

.timer-btn {
    padding: 10px 40px;
    font-family: consolas, monospace;
    color: #fff;
    background-color: #333333;
    border: 3px solid;
    border-radius: 12px;
    cursor: pointer;
}